@import "tailwindcss";
@import "@canopy-iiif/app/ui/styles/index.css";
@import "./custom.css";

@layer properties {
  :root,
  :host {
    --font-sans: "Inter", system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    --font-serif: "Newsreader", Georgia, "Times New Roman", serif;
    --font-mono: "IBM Plex Mono", "ui-monospace", Menlo, Consolas, monospace;
    --default-font-family: var(--font-serif);
  }
}

@utility max-w-content {
  max-width: 1080px;
}

@utility max-w-wide {
  max-width: 1300px;
}

@layer base {
  html {
    font-size: 110%;
    font-weight: 300;
  }

  body {
    background: var(--color-gray-50);
    color: var(--color-gray-900);
  }

  h1,
  h2,
  h3,
  h4,
  .canopy-logo {
    font-family: var(--font-serif);
    font-weight: 500;
    letter-spacing: -0.025em;
  }

  .canopy-logo {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 2rem !important;
    letter-spacing: 0;
    font-style: italic;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0.7em;
      font-size: 0.5em;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        to right,
        transparent,
        var(--color-accent-300)
      );
      z-index: -1;
    }
  }

  p {
    font-family: var(--font-serif);
    font-size: 1.222rem;
    line-height: 1.6;
    color: var(--color-gray-800);
  }
}

.muybridge-lead {
  line-height: 1.6;
  padding: 2.618rem 0;
}

@layer components {
  .canopy-header__desktop-nav,
  .canopy-header__actions {
    display: none !important;
  }

  .canopy-search-form {
    border: none !important;
  }
  .canopy-header {
    justify-content: space-between;
  }

  .canopy-header__brand {
    flex: 0 0 auto;
  }

  .canopy-header__desktop-search {
    max-width: 600px;
  }
}
