@import "tailwindcss";
@import "@canopy-iiif/app/ui/styles/index.css";
@import "./custom.css";

@layer properties {
  :root,
  :host {
    --hero-pull-up: -5rem;
    --font-sans:
      "Noto Sans", system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    --font-serif: "Noto Serif Display", Georgia, "Times New Roman", serif;
    --font-mono: "Noto Sans Mono", "ui-monospace", Menlo, Consolas, monospace;
    --default-font-family: var(--font-serif);
  }
}

@utility max-w-content {
  max-width: 1080px;
}

@utility max-w-wide {
  max-width: 1300px;
}

@layer base {
  html {
    font-size: 110%;
    font-weight: 300;
  }

  body {
    background: var(--color-gray-50);
    color: var(--color-gray-900);
  }

  h1,
  h2,
  h3,
  h4,
  .canopy-logo {
    font-weight: 500;
    letter-spacing: -0.025em;
  }

  .canopy-logo {
    font-weight: 300;
    font-size: 1.382rem !important;
    letter-spacing: -0.025em;
    font-style: italic;
    position: relative;
    color: var(--color-gray-800) !important;

    &::after {
      position: absolute;
      content: "";
      bottom: 0.2em;
      font-size: 0.5em;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        to right,
        transparent,
        var(--color-accent-200)
      );
      z-index: -1;
    }
  }

  p {
    font-size: 1.111rem;
    line-height: 1.6;
    color: var(--color-gray-800);
  }
}

.muybridge-lead {
  line-height: 1.6;
  padding: 2.618rem 0;
  color: var(--color-gray-900);

  p {
    color: var(--color-gray-900);
  }
}

.canopy-search-tabs {
  visibility: hidden;
}

.canopy-type-work header {
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: -0.05em;
  }
}

.canopy-type-work header dl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

@layer components {
  .canopy-search-form {
    border: none !important;
  }
  .canopy-header {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--color-gray-50);
  }

  .canopy-header__brand {
    flex: 0 0 auto;
  }
}
